body{background-color: #00FF00;
    background-image: url("abada.jpg");
}
h2{background-color: white;
color: blue;
font-style: italic;
}

h1{color:red; 
font-family: arial, verdana;
font-size: 12 pt; 
}