tr{background-color: cadetblue;
}
td{font-size: 40px;
    font-family: cursive;
    text-transform: uppercase;
    text-align: center;
}

.exemplo{background-color: rgb(215, 234, 235);  
}
.exemplo2{background-color: rgb(43, 49, 49);  
}
.exemplo3{background-color: rgb(174, 196, 196);  
}
.exemplo4{background-color: rgb(8, 61, 61);  
}
.exemplo5{background-color: rgb(121, 239, 239);  
}

.exemplo6{background-color: rgb(26, 95, 156);  
}
.exemplo7{background-color: rgb(50, 73, 175);  
}
.exemplo8{background-color: rgb(47, 96, 96);  
}
.exemplo9{background-color: rgb(58, 75, 124);  
}
.exemplo10{background-color: rgb(19, 31, 60);  
}

.exemplo11{background-color: rgb(185, 92, 92);  
}
.exemplo12{background-color: rgb(91, 53, 82);  
}
.exemplo13{background-color: rgb(86, 47, 96);  
}
.exempl14{background-color: rgb(36, 24, 27);  
}
.exemplo15{background-color: rgb(60, 19, 19);  
}